---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import BusinessCommunitySection from '../components/BusinessCommunitySection.astro';
import CyberSecuritySection from '../components/CyberSecuritySection.astro';
import DashboardSection from '../components/DashboardSection.astro';
import SettingsNewSection from '../components/SettingsNewSection.astro';
import DocsSection from '../components/DocsSection.astro';
import Pricing from '../components/Pricing.astro';
import ROICalculator from '../components/ROICalculator.astro';
import Footer from '../components/Footer.astro';
import AgentBot from '../components/AgentBot.astro';
import AuthModal from '../components/AuthModal.astro';
import AccessibilityWidget from '../components/AccessibilityWidget.astro';
---

<Layout>
  <AgentBot />
  <AuthModal />

  <div class="bg-[#03050F] text-[#F5F5F7] min-h-screen relative z-10">
    <Navbar />
    <Hero />
    <BusinessCommunitySection />
    <CyberSecuritySection />
    <DashboardSection />
    <SettingsNewSection />
    <DocsSection />
    <ROICalculator />
    <Pricing />
    <Footer />
  </div>
  <AccessibilityWidget />
</Layout>
